.container{
  padding: 30px;
}
.section{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section > h1 {
  margin-bottom: 1.5rem;
  font-family: sw-medium;
  /* font-size: min(30px, 3vw); */
  font-size: 140px;
}
.sectionLoading{
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
/* .genreSpinner{
  width: 100px;
  height: 100px;
} */
.cardContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-right: 10%;
  margin-left: 10%;
  }
  @media(max-width: 1300px){
    .container{
    padding: 0px;
  }
  .cardContainer{
    width: 70vw;
  }
}
    @media(max-width: 400px){
      .container{
        padding: 30px;
      }
      
      .cardContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 600px;
      }
      .section{
        display: flex;
        text-align: center;
        margin-bottom: 3vh;
      }
      .section>h1{
        font-size: 5vh;
        margin-bottom: 0;
      }
    }