.container {
  /* position: relative; */
  /* left: 0px;
  width: 250px;
  height: 100vh; */
  background-color: var(--background-accent);
  font-family: sw-medium;
  font-size: 1.7em;
  /* border-right: 2px solid var(--gray-light);  */
}
.links{
  text-decoration: none;
  color: var(--text-primary);
  font-size: 30px;
  height: 100px;
}
.links:hover{
  color: var(--text-primary);
}
.sidebarContainer{
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color:var(--background-accent);
}
.buttonArtistPanel{
  margin-bottom: 30px;
  margin-top: 30px;
}
.buttonArtistPanel:hover{
  cursor:pointer;
}

.btnContainer {
  margin-top: 20px;
}

.logo {
  width: 50px;
  margin: 10px;
}

.button {
  width: 100%;
  height: 60px;
  font-size: 0.7em;
  background-color: var(--background-accent);
  display: flex;
  align-items: center;
}

.button>svg {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 7px;
  color: var(--text-primary);
  fill: currentColor;
}

.img {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 7px;
}

.button:hover {
  filter: brightness(1.10);
}

.link {
  text-decoration: none;
  color: var(--text-primary);
}

.link:hover {
  color: var(--text-primary);
}

.linkLogo {
  text-decoration: none;
  color: var(--text-primary);
}

.linkLogo:hover {
  color: var(--text-primary);
}

.buttonDis {
  width: 100%;
  height: 60px;
  font-size: 0.7em;
  background-color: var(--background-accent);
  display: flex;
  align-items: center;
  opacity: 0.3;
  cursor: default;
}

.buttonDis>svg {
  width: 25px;
  height: 25px;
  margin-left: 15px;
  margin-right: 7px;
  color: var(--text-primary);
  fill: currentColor;
}

.signUp {
  opacity: 0.3;
  font-size: 1rem;
  padding: 10px;
}

@media(max-width: 400px) {
  .sidebarContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 49px;
    background-color: var(--background-accent);
  }
  .buttonArtistPanel{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 6px;
    width: 60px;
    height: 100%;
    flex-direction: column;
  }

  .container {
    width: 100%;
    height: 100%;
    background-color: var(--background-accent);
    font-family: sw-medium;
    font-size: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 0%;
  }

  .logo {
    display: none;
  }

  .span {
    display: none;
  }

  .btnContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    margin-top: 5px;
    padding: 0%;
  }

  .linkLogo {
    display: none;
  }

  .button {
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    background-color: var(--background-accent);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button:hover {
    filter: brightness(1.10);
  }

  .link {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
  }

  .link>div {
    display: flex;
    flex-direction: column;
    font-size: x-small;
  }

  .link:hover {
    color: var(--text-primary);
  }

  .img {
    width: 20px;
    height: 20px;
    /* margin-left: 15px; */
  }

  .buttonDis {
    width: 100%;
    height: 100%;
    font-size: 0.7em;
    background-color: var(--background-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
  }

  .signUp {
    display: none
  }
}