.container{
  background-color: var(--yellow-light);
  font-family: sw-medium;
  font-size: 1.7em;
  border-bottom: none;
  border-top: none;

}
.btnContainer{
  margin-top: 20px;
}
.logo{
  width: 50px;
  margin: 10px;
}
.button{
  display: flex;
  width: 100%;
  height: 60px;
  font-size: 0.7em;
  background-color: var(--yellow-light);
  border: none;
  padding-top: 16px;
}
.button:hover{
  filter: brightness(1.10);
}
.img{
  width: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
.link{
  text-decoration: none;
  color: black;
}
@media(max-width: 400px){ 
  .container{
    background-color: var(--yellow-light);
    font-family: sw-medium;
    font-size: 1px;
    display: flex;
  }
  .logo{
    width: 20px;
    height: 20px;
  }
  .button{
    width: 100%;
    height: 60px;
    font-size: 10px;
    background-color: var(--yellow-light);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoContainer{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
    font-size: 10px;
  }
  .button:hover{
    filter: brightness(1.10);
  }
  .link{
    text-decoration: none;
    color: black;
    margin: 0%;
  }
  .link:hover{
    color: black;
  }
  .img{
    width: 20px;
    height: 20px;
    margin-left: 15px;
  }
}