.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr 90px;
}

.container > nav:nth-child(1) {
  position: sticky;
  /* top: 0; */
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: 1px solid var(--gray-light);
}
.container > div:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-right: 1px solid var(--gray-light);
}
.container > div:nth-child(3) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow-y: scroll;
  overflow-x: hidden;
  /* hidde scrollbar firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  /* hidde scrollbar chrome */
.container > div:nth-child(3)::-webkit-scrollbar {
  display: none;
}
.container > div:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  border-top: 1px solid var(--gray-light);
}
