.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'sw-medium';
  background-color: white;
  font-family: sw-medium;

}
.divNav{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #ffee32;
  /* border-bottom: 1px solid #d6d6d6; */
}
.divNav > h1 {
  color: var(--gray-black);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-family: sw-medium;
  font-size: 140px;
}
.div1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.divInfo{
  width: 300px;
}
.buttonHome{
  position: fixed;
  left: 20px;
  top: 20px;
}
.buttonHome > button{
  background-color: #ffee32;
  width: 150px;
  font-size: larger;
  border-radius: 5px;
}
.buttonHome > button:hover{
  background-color: #fff47b;
}
.containerInfo{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.containerInfo2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ffee32;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.techInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.techInfo > img {
  width: 100px;
  height: 100px;
  margin:50px;
}
.techInfo > svg {
  margin:50px
}
.cardContainer{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cardContainer > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
