

.about{
    font-family: sw-italic;
 background-color: var(--gray-dark);

    padding: 20px;

    width: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonHome{

    position: fixed;
    left: 20px;
    top: 20px;

}

.buttonHome button{

 border: none;
 background-color: var(--yellow-dark);
 height: 2em;
 width: 8em;
 font-weight: bold;
 border-radius: 10px;

}



.container{

    height: 98%;
    width: 95%;
    overflow: hidden;

}
/* Info */

.containerInfo{

    height: 40%;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: rgb(210, 215, 220);
    padding: 2em;

    
}
.containerInfo p{
    overflow: hidden;
    height: cover;
    width: cover;
    background-color: var(--gray-light);
    padding: 1em;
    border-radius: 1em;
    box-shadow: 20px 30px 90px 0.10px rgb(122, 118, 118);

}

/* /Info */



/* Cards */

.Cards{

    background-color: rgb(210, 215, 220);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 40px  40px  40px;
    padding:40px 30px  30px 40px;  
    margin: 1em;
    justify-items: center;
  

}




/* /Cards */



/* Card */

.AboutCard{
    padding: 1em;
    background-color: rgba(214, 214, 214, 0.311);
    width: 15em;
    height: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 20px 30px 60px 0.10px rgb(93, 91, 91);
    transition: all 1s;
}

.AboutCard:hover{
    transform: scale(1.10);
    transform: translate(-10px,-10px); 
    background-color: rgb(214, 214, 214, 0.99);
}


.infoName{
    text-align: center;
    margin: 1em;
}


.AboutCard h1{
    font-size:x-large;
}


.AboutCard h2{
    font-size:large;
    font-weight: bold;
}
.img{

    top: -80px;
    width: 10em;
    height: 10em;
    border-radius: 1em;
    box-shadow: 10px 9px 10px 1px rgb(93, 91, 91);

}

.containerAccounts{

    width: 9em;
    display: flex;
    justify-content: space-around;

}

.git{
    width: 2em;
    height: 2em;
    border-radius: 5px;
}

.git:hover{
   box-shadow: 0px 0px 15px 10px black;
}



.linkedin{

    width: 2em;
    height: 2em;
    background-color: aliceblue;

    border-radius: 5px;

}
.linkedin:hover{
    box-shadow: 0px 0px 15px 10px rgb(13, 119, 211);


}

/* /Card */
