.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  height: auto;
}
.details {
  /* background-color: lightcyan; */
  display: grid;
  grid-template-columns: auto auto;
  /* height: auto; */
  grid-template-columns: 250px auto;
  grid-template-rows: 3.5rem 3.5rem auto;
  gap: 1.2rem;
  font-family: var(sw-medium);
}
.details > img {
  grid-area: 1 / 1 / 4 / 2;
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1
}
.details > span:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
  align-self: start;
  font-size: 2.2rem;
  font-family: var(sw-bold);
  /* margin-top: .5rem; */
}
.details > a:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  font-size: 1.5rem;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: var(--text-primary);
}
.btnContainer {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
}
.btn {
  width: 150px;
  height: 35px;
  background-color: var(--yellow-light);
  border-radius: 4px;
  border: none;
  margin-left: 2rem;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background-color: var(--yellow-dark);
}
.edit {
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 60px;
  height: 60px;
  background-color: var(--yellow-light);
  border-radius: 100%;
  border: none;
  transition: 0.2s ease-in-out;
}
.edit:hover {
  background-color: var(--yellow-dark);
}
.save {
  background-color: #46de00;
  color: white;
}
.save:hover {
  background-color: #008e00;
}

.container > div:last-child {
  /* border: 1px solid gray; */
  display: block;
}
.loading {
  align-self: center;
  justify-self: center;
  size: 100%;
  width: 5rem;
  height: 5rem;
}
@media(max-width:400px){
  .details{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .details>span:nth-child(2){
    align-self: center;
    font-size: 3.5vh;
  }
  .btnContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .btn{
    margin: 0%;
    width: 30vw;
  }
  
}