.container{
  display: grid;
  padding: 30px;
  gap: 30px;
}
.container > div:first-child {
  background-color: lightcyan;
  display: grid;
  grid-template-columns: auto auto;
}
.container > div:last-child {
  border: 1px solid gray;
  display: block;
}

.header{
  background-color: aquamarine;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.list{
  background-color: azure;
  height: 500px;
}