@import '../../../App.css';

.navbar {
    background-color: var(--gray-light);
    border: 1px solid red;
}

.form {
    display: flex;
    flex-direction: row;
}

.search {
    
}

.search > input {
    border: none;
    background-color: var(--black)
}
