
.sectionTitle {
    font-family: 'sw-bold';
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--text-primary);
    border: none;
    background-color: transparent;
}

.sectionTitle:hover{
    color: #ffd100;
}

.sectionTitleFilter{
    display: flex;
    justify-content: flex-end;
    font-family: 'sw-bold';
    font-size: 25px;
    color: rgb(0, 0, 0);
    width: 85vw;
}

.links{
    text-decoration: none;
}

.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 85vw;
    height: 95vh;
}
.divContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 33px;
}
.divText{
    width: 60vw;
    display: flex;
    padding: 5px;
}

@media(max-width: 400px){
    
}