.likeImg {
    width: 100%;
    height: 100%;
    color: black;
}

.likeImgInclude {
    width: 100%;
    height: 100%;
    color: rgb(223, 19, 19);
    filter: invert(14%) sepia(99%) saturate(4977%) hue-rotate(358deg)
        brightness(92%) contrast(90%);
}

.likeBtn {
    background-color: transparent;
    /* width: 25px; */
    /* margin-left: 40px;
    margin-right: 15px; */
    border: none;
}
