
.navbar{
  margin-left: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d6d6d6;
}
.divOption{
  display: flex;
  justify-content: space-evenly;
}
.b{
  font-size: 70px;
  margin-bottom: 20px;
}