.container{
  padding: 40px;
  font-family: var(sw-medium);
}
.container > span {
  font-size: 4.5rem;
  font-family: var(sw-bold);
  margin-left: 3rem;
}
.container > p {
  font-size: 1.5rem;
  font-family: var(sw-light);
  margin-top: 2rem;
}
.container > img {
  width: 250px;
  border-radius: 5px;
}

.statContainer {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-evenly;
  padding: 5px 15px;
  background-color: var(--gray-light);
  margin-top: 1rem;
}
.statInfo{
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 10px 20px;
}
.title {
  font-family: sw-bold;
  font-size: 13px;
  font-family: sw-light;
}
.value {
  font-size: 16px;
}
.textarea{
  width: 100%;
  min-height: 10em;
  height: fit-content;
  resize: none;
}
.btn{
  background-color: var(--yellow-light);
  border: 2px solid var(--yellow-light);
  border-radius: 5px;
  padding: 3px 5px;
}
.btn2{
  background-color: white;
  border: 2px solid var(--yellow-light);
  border-radius: 5px;
  padding: 3px 5px;
}