
.container {
    padding: 2rem;
}

.statContainer {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;

    padding: 5px 15px;
    
    background-color: var(--gray-light);
}

.title {
    font-family: sw-bold;
    font-family: sw-medium;
}

.profileImg {
    margin: 2rem 1rem;
}