
.container {
    padding: 2rem;
}

.statContainer {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;

    padding: 5px 15px;
    
    background-color: var(--gray-light);
}

.title {
    font-family: sw-bold;
    font-size: 13px;
    font-family: sw-light;
}

.value {
    font-size: 16px;
}

.profileImg {
    margin: 2rem 1rem;
}

.profile {
    padding: 10px;
    background-color: #f1f1f1;
}


/* Song */

.card {
    /* display: flex;
    flex-direction: row;
    border: 1px solid red;

    padding: 7px; */
}
.name {
    display: flex;
    flex-direction: row;
}
.info {
    padding: 0px 10px;
    border: 1px solid magenta;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table > tr {
    border: 2px solid greenyellow; 
} 

.table > tr > td{
    border: 1px dashed magenta; 
}

.songsContainer {
   border: 1px dashed green;
}