.containerBig{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.title{
  font-family: sw-medium;
  margin-bottom: 40px;
  color: black;
  font-size: 3em;
}
.container{ 
  grid-area: 2 / 2 / 3 / 3;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}
.p{
  font-family: sw-light;
  color: rgb(97, 97, 97);
}
.button{
  font-family: sw-medium;
  background-color: var(--yellow-light);
  color: black;
  max-width: fit-content;
  padding: 7px 12px;
  text-align: center;
  border-radius: 4px;
  margin: 0 auto;
  text-decoration: none;
}
.button:hover{
  background-color: #fff589;
  color: black;
}