.container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section{
  margin-bottom: 3rem;
}
.container > h1 {
  color: var(--gray-black);
  margin-bottom: 1.5rem;
  font-family: sw-medium;
  font-size: 140px;
}
.sectionLoading{
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}
/* .genreSpinner{
  width: 100px;
  height: 100px;
} */