
.usermenu{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}
.content{
  /* background-color: aqua; */
  padding-left: 250px;
  padding-bottom: 90px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
