.itemListContainer {
    display: flex;
    align-items: center;
    background-color: var(--background-intermediate);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 60vw;
    margin-bottom: 10px;
    justify-content: space-between;
}

.imageAndNameContainer {
    display: flex;
    position: relative;
    align-items: center;
}

.Play {
    left: 25px;
    top: 10px;
    font-weight: bolder;
    font-size: xx-large;
    position: absolute;
    display: none;
}

.imageAndNameContainer:hover .Play {
    display: flex;
    justify-content: center;
    height: 1.5em;
    left: 15px;
    top: 10px;
    font-weight: bolder;
    font-size: xx-large;
    position: absolute;
    display: block;
    color: #0f0f0f;
}

.imageAndNameContainer:hover .image {
    color: #0f0f0f;
    filter: opacity(70%);
}

.Play {
    left: 25px;
    top: 10px;
    font-weight: bolder;
    font-size: xx-large;
    position: absolute;
    display: none;
}

.imageAndNameContainer:hover .Play {
    display: flex;
    justify-content: center;
    height: 1.5em;
    left: 15px;
    top: 10px;
    font-weight: bolder;
    font-size: xx-large;
    position: absolute;
    display: block;
    color: #0f0f0f;
}

.imageAndNameContainer:hover .image {
    color: #0f0f0f;
    filter: opacity(70%);
}

.controllerContainer {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 10px;
}

.image {
    width: 70px;
    border-radius: 50%;
    box-shadow: 1px 1px 0.4rem rgba(0, 0, 0, 0.87);
}

.links {
    text-decoration: none;
}

.songPosition {
    font-size: 20px;
    font-family: "sw-medium";
    margin-left: 10px;
    color: #000000;
    text-shadow: 2px 0 0 rgba(255, 255, 255, 0.364),
        -2px 0 0 rgba(255, 255, 255, 0.392), 0 2px 0 rgba(255, 255, 255, 0.398),
        0 -2px 0 rgba(255, 255, 255, 0.358), 1px 1px rgba(255, 255, 255, 0.415),
        -1px -1px 0 rgba(255, 255, 255, 0.307), 1px -1px 0 rgba(255, 255, 255, 0.37),
        -1px 1px 0 rgba(255, 255, 255, 0.387);
}

.songName {
    /* margin-left: 0.7em; */
    font-size: 20px;
    font-family: "sw-medium";
    color: #000000;
    /* text-shadow: 2px 0 0 rgba(255, 255, 255, 0.364), -2px 0 0 rgba(255, 255, 255, 0.392), 0 2px 0 rgba(255, 255, 255, 0.398), 0 -2px 0 rgba(255, 255, 255, 0.358), 1px 1px rgba(255, 255, 255, 0.415), -1px -1px 0 rgba(255, 255, 255, 0.307), 1px -1px 0 rgba(255, 255, 255, 0.37), -1px 1px 0 rgba(255, 255, 255, 0.387); */
    padding-left: 12px;
}

.songName:hover {
    cursor: pointer;
}

.spanArtistName {
    color: black;
    padding-left: 12px;
    text-decoration: none;
}
.spanArtistName:hover{
    color: black;
}

.likeBtn {
    background-color: transparent;
    width: 25px;
    margin-left: 40px;
    margin-right: 15px;
    border: none;
}

.likeImg {
    width: 30px;
    color: black;
}

.likeImgInclude {
    width: 30px;
    color: rgb(223, 19, 19);
    filter: invert(14%) sepia(99%) saturate(4977%) hue-rotate(358deg) brightness(92%) contrast(90%);
}

.likeImg:hover {
    width: 30px;
    font-size: 3em;

    color: rgb(174, 51, 51);
}

.likeImgAlt {
    filter: opacity(0.4) drop-shadow(0 0 0 red);
    width: 25px;
    margin-left: 40px;
    margin-right: 15px;
}

.likeImgAlt:hover {
    cursor: pointer;
    filter: opacity(0.4) drop-shadow(0 0 0 red);
    width: 25px;
    margin-left: 40px;
}

.duration {
    font-size: 20px;
    color: black;
    margin-left: 20px;
}

.timeImg {
    width: 25px;
    margin-left: 4px;
}

.Play:hover {
    cursor: pointer;
}

.controllerContainer>button:first-child {
    height: 35px;
}

@media(max-width: 400px) {
    .itemListContainer {
        width: 80vw;
        min-height:70px ;
        margin-left: 5px;
        margin-right: 5px;
    }

    .songNameContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-align: start;
    }

    .duration {
        display: none;
    }

    .timeImg {
        display: none;
    }

    .songName {
        max-width: 200px;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .spanArtistName{
        font-size: 15px;

    }
    
}