.container{
  overflow: hidden;
  position: relative;
  border: 2px solid red;
  width: 100%;
}

.inner {
  display: grid;
  grid-auto-flow: column; 

  grid-auto-columns: 300px;
  gap: 10px;
  transition: all 0.3s ease;
}

.inner2 {
  display: grid;
  grid-template-columns: repeat(5, minmax(155px, 1fr));
  gap: 30px;
}

.btn {
  z-index: 50;
  position: sticky;
  top: 50%
}

.left {
  left: 10px;
}
.right {
  right: 20px;
}