:root {
  --bk-color: #32325d;
  --bk-color1: purple;
  --bk-color2: red;
  --bk-color3: blue;
  --bk-color4: green;
  --bk-color-btn: var(--bk-color)
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
  height: 12rem;
  padding: 10px 20px;
  border-radius: 5px;
}
.buttonContainer>button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .4vw 1vw;
  border: none;
  border-radius: .5vw;
  background-color: var(--yellow-light);
  color: black;
  font-size: 1vw;
}
.buttonContainer>span{
  font-size: .7vw;
  margin-top: .1vw;
}
@media(max-width: 400px){
  .buttonContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 15vw;
    justify-content: flex-end;
    align-items: center;
  }
  .buttonContainer>h2{
    display: none;
    width: 100%;
    height: 100%;
  }
  .buttonContainer>p{
    display: none;
    font-size: small;
  }
  .buttonContainer>button{
    font-size: larger;
    width: 40vw;
  }
}