.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --black: #202020;
  --gray-light: #d6d6d6;
  --gray-dark: #333533;
  --yellow-light: #ffee32;
  --yellow-dark: #ffd100;
}
@font-face {
  font-family: 'sw-light';
  src: url(./assets/DefaultFont/IBMPlexSans-Light.ttf);
}
@font-face {
  font-family: 'sw-medium';
  src: url(./assets/DefaultFont/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: 'sw-bold';
  src: url(./assets/DefaultFont/IBMPlexSans-Bold.ttf);
}
@font-face {
  font-family: 'sw-italic';
  src: url(./assets/DefaultFont/IBMPlexSans-Italic.ttf);
}
