.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.container > div{
  width: 100%;
  padding: 0px;
}
.colorContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 200px;
  max-height: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.colorContainer > div{
  height: 400px;
  width: 20%;
  display: flex;
  justify-content: center;
}
.colorContainer > div:hover{
  transform: scale(1.02);
  /* cursor: pointer; */
  /* transition: ease-in-out 0.3s; */

}
.swBlack{
  background-color: var(--black);
  color: white;
}
.lightGray{
  background-color: var(--gray-light);
  color: black;

}
.darkGray{
  background-color: var(--gray-dark);
  color: white;

}
.lightYellow{
  background-color: var(--yellow-light);
  color: black;
  
}
.darkYellow{
  background-color: var(--yellow-dark);
  color: black;

}

