.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container>h3{
  font-size: 2vw;
  margin-bottom: 2vw;
}
.colorContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vw;
}
.colorContainer > div{
  height: 30vw;
  width: 20%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 2vw;
}
.colorContainer > div:hover{
  transform: scale(1.02);
  /* cursor: pointer; */
  /* transition: ease-in-out 0.3s; */

}
.swBlack{
  background-color: var(--black);
  color: white;
}
.lightGray{
  background-color: var(--gray-light);
  color: black;

}
.darkGray{
  background-color: var(--gray-dark);
  color: white;

}
.lightYellow{
  background-color: var(--yellow-light);
  color: black;
}
.darkYellow{
  background-color: var(--yellow-dark);
  color: black;
}
@media(max-width:500px){
  .container>h3{
    font-size: x-large;
  }
  .colorContainer{
    margin: 0px;
    flex-direction: column;
    justify-content: flex-start;
    height: 75vh;
  }
  .colorContainer>div{
    width: 100%;
    height: 15vh;
    font-size: x-large;
  }
}